body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
:root {
  --logo-color: #4d5ae5;
  --addres-link-color: #434455;
  --list-title-color: #2e2f42;
  --title-color: #f4f4fd;
}
.main-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}
.link {
  text-decoration: none;
}
.somain-title {
  color: var(--list-title-color);
}
.list {
  list-style: none;
}
.nav-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--list-title-color);
}
.nav-list-item:hover,
.nav-list-item:focus {
  color: #404bbf;
}
address {
  font-style: normal;
}
.addres-list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--addres-link-color);
}
.addres-list-item:hover,
.addres-list-item:focus {
  color: #404bbf;
}
.first-section {
  background: #2e2f42;
}
.first-section-title {
  text-align: center;
  letter-spacing: 0.02em;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
}
.button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
.list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--list-title-color);
}
.second-sec-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--addres-link-color);
}
.title-sec-third {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--list-title-color);
}
.four-section {
  background-color: #f4f4fd;
}
.title-sec-four {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--list-title-color);
}
.list-sec-four {
  background-color: #ffffff;
}
.list-members {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--list-title-color);
}
.proffesion-member {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--addres-link-color);
}
.footer {
  background-color: var(--list-title-color);
}
.somain-title-footer {
  color: #f4f4fd;
}

.p-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
